<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?cache_id={{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    <link rel="stylesheet" type="text/css" href="../static/scripts/4-hbnb.js?cache_id={{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png" />
    <title>HBnB</title>
</head>
<body>
<header>
    <div class="logo"></div>
    <div id="api_status" class="status-circle"></div>
</header>
<div class="container">
    <section class="filters">
        <!-- Filters content here -->
    </section>
    <div class="placesh1"><h1>Places</h1></div>
    <section class="places">
        <!-- Places content here -->
    </section>
</div>
<footer>
    <p>Holberton School</p>
</footer>
</body>
</html>
